@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7ewvzk');
  src:  url('fonts/icomoon.eot?7ewvzk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7ewvzk') format('truetype'),
    url('fonts/icomoon.woff?7ewvzk') format('woff'),
    url('fonts/icomoon.svg?7ewvzk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spotlight:before {
  content: "\e806";
}
.icon-floral-design:before {
  content: "\e805";
}
.icon-flower_vase:before {
  content: "\e800";
}
.icon-bouquet:before {
  content: "\e801";
}
.icon-chandelier:before {
  content: "\e802";
}
.icon-curtain:before {
  content: "\e803";
}
.icon-wedding:before {
  content: "\e804";
}
